[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = 30545f4cc
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/IBM-Developer-Korea/micropython.git
	branch = badge2018
[submodule "ugfx"]
	path = ugfx
	url = https://github.com/IBM-Developer-Korea/ugfx.git
	branch = badge2018
[submodule "esp-iot-solution"]
	path = esp-iot-solution
	url = https://github.com/IBM-Developer-Korea/esp-iot-solution.git
	branch = badge2018
